<% provide(:title, "Log In") %>

<div class="session-form">  
  <h1>Log In</h1>

  <%= form_for :session, url: login_path do |f| %>
    <%= f.email_field :email, placeholder: "Email", autofocus: true %> 
    
    <%= f.password_field :password, placeholder: "Password" %> 
    
    <%= f.submit "Log In" %><br />
    
    <%= f.label :remember_me do %>
      <%= f.check_box :remember_me %>
      <span>Remember me on this computer</span>
    <% end %>
  <% end %>
  
  <p class="text-center">New User? <%= link_to "Sign Up Now", signup_path %> <span>•</span> <%= link_to "Forgot Password?", new_reset_path %></p> 
</div>