<% provide(:title, "Editing #{@user.name}'s profile") %>

<h1>Edit Your Profile</h1>

<%= form_for @user, method: :put do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= show_errors(@user, :name) %>
  
  <%= f.email_field :email, placeholder: "Email" %>
  <%= show_errors(@user, :email) %>

  <%= f.password_field :current_password, placeholder: "Current Password" %><br />
  
  <hr />
  
  <h4>Change Password (not required):</h4>
  
  <%= f.password_field :password, placeholder: "New Password" %>
  
  <%= f.password_field :password_confirmation, placeholder: "Confirm New Password" %><br />
  
  <%= f.submit "Edit my Account" %>
<% end %>