<h1 class="header">My Digest for <%= Time.now.strftime('%A, %B %e') %></h1>
    
<ul>
  <% subscribed_sites.each do |site| %>
    <% if any_articles?(site) %>
      <li class="article">
        <h1><a href=<%= site.url %>><%= site.title %></a></h1>
        <% site.articles.where("published >= ?", Time.zone.now.beginning_of_day).each do |article| %>
          <h2><%= sanitize article.title %></h2>
          <%= sanitize article.description %>
          <% end %>
          <hr />
        <% end %>
      </li>
  <% end %>
</ul>