<% provide(:title, "The Digest: My Digest") %>

<h1 class="header">My Digest for <%= Time.now.strftime('%A, %B %e') %></h1>

<ul>
  <% @sites.each do |site| %>
      <% if any_articles?(site) %>
      <li class="article">
        <h1><%= link_to site.title, site.url, target: "_blank", class: 'external' %></h1>
        <ul class="article">
        <% site.articles.where("articles.published >= ?", Time.zone.now.beginning_of_day).each do |article| %>
          <li>
            <hr />
            <h2><%= link_to sanitize(article.title), sanitize(article.link), target: "_blank", class: 'external' %></h2>
            <p class="eta"><em>estimated</em> <%= article.readingtime %></p>
            <%= strip_tags(article.description).truncate(180, :separator => " ").html_safe %>
          </li>
        <% end %>
        </ul>
      </li>
      <hr />
      <% end %>
  <% end %>
</ul>

