<% provide(:title, "The Digest: My Digest") %>

<h1 class="header">My Digest for <%= Time.now.strftime('%A, %B %e') %></h1>

<ul>
  <% if ! any_subscriptions? %>
    <h2>You don't have any subscriptions yet. <%= image_tag "thinking.png", size: "60x56" %></h2>
    <%= link_to "Add a new subscription", new_subscription_path, class: "button" %> <span>or</span> <%= link_to "Browse Sites", browse_path, class: "button" %>
  <% elsif any_articles?(@sites) %>
    <% @sites.each do |site| %>
      <% if updated_sites?(site) %>
        <li class="site">
          <h1><%= link_to site.title, site.url, target: "_blank", class: 'external' %></h1>
          <ul class="article">
          <% site.articles.where("articles.published >= ?", Time.zone.now.beginning_of_day).each do |article| %>
            <li>
              <hr />
              <h2><%= link_to sanitize(article.title), sanitize(article.link), target: "_blank", class: 'external' %></h2>
              <p class="meta"><em>estimated</em> <%= article.readingtime %></p>
              <p class="content"><%= strip_tags(article.description).truncate(180, :separator => " ").html_safe %></p>
            </li>
          <% end %>
          </ul>
        </li>
        <hr />
      <% end %>
    <% end %>
  <% else %>
    <h3>None of your subscriptions have updated today. <%= image_tag "disappointed.png", size: "60x56" %></h3> 
    <span class="button" id="reload">↻ Check again?</span>
  <% end %>
</ul>

