<h1>Add a Feed</h1>

<%= form_for @subscription do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <%= f.label :url %>
  <%= f.url_field :url %>
  
  <%= f.submit "Add new subscription" %>
<% end %>