<h4>My Subscriptions</h4>
<%= link_to "Manage Subscriptions", subscriptions_manage_path, remote: true, class: 'manage_subscriptions' %> <%= link_to "close", mydigest_path, remote: true, class: "subscription_label float-right", id: "manage_close" %>
<hr />

<p class="select_all button">Select All</p>

<ul id="subscription_list">
  <%= form_tag subscriptions_destroy_multiple_path, method: :delete, remote: true do %>
    <%= submit_tag "Delete Checked" %>
    <% subscribed_sites.each do |site| %>
        <li><%= check_box_tag("site_id[]#{site.id}", value = site.id) %> <%= label_tag "site_id_#{site.id}", site.title, class: "subscription_label" %></li>
    <% end %>
  <% end %>
</ul>