<% provide(:title, "The Digest: #{@site.title}") %>

<h1><%= link_to @site.title, @site.url, target: "_blank" %></h1> 

<div id="subscription_button"><%= render partial: "subscription_button", locals: {site: @site} %></div>


<ul id="subscription_list">
  <% @articles.each do |article| %>
    <li>
      <h2><%= link_to sanitize(article.title), sanitize(article.link), target: "_blank" %></h2>
      <p><%= article.published.strftime('%A, %B %e, %Y') %></p>
      <span><%= article.readingtime %></span>
      <%= strip_tags(article.description).truncate(180, :separator => " ").html_safe %>
      <br />
      <%= link_to "Read the rest of the post on #{@site.url}...", article.link %>
      <hr />
    </li>
  <% end %>
</ul>

<%= paginate @articles %>