<% provide(:title, "The Digest: #{@site.title}") %>

<h1><%= link_to @site.title, @site.url %></h1>

<ul id="subscription_list">
  <% @articles.each do |article| %>
    <li>
      <h2><%= link_to article.title, article.link %></h2>
      <p><%= article.published.strftime('%A, %B %e, %Y') %></p>
      <%= strip_tags(article.description).truncate(180, :separator => " ").html_safe %>
      <br />
      <%= link_to "Read the rest of the post on #{@site.url}...", article.link %>
      <hr />
    </li>
  <% end %>
</ul>

<%= paginate @articles %>