<% provide(:title, "#{@site.title}") %>

<h1><%= link_to @site.title, @site.url, target: "_blank", class: 'external' %></h1>

<div id="subscription_button"><%= render partial: "subscription_button", locals: {site: @site} %></div>

<ul id="subscription_list">
  <% @articles.each do |article| %>
    <li>
      <h2><%= link_to sanitize(article.title), sanitize(article.link), target: "_blank", class: 'external' %></h2>
      <p class="meta"><%= article.published.strftime('%A, %B %e, %Y') %> <span>•</span> <em>estimated</em> <%= article.readingtime %></p>
      <p class="content"><%= strip_tags(article.description).truncate(180, :separator => " ").html_safe %></p>
      <hr />
    </li>
  <% end %>
</ul>

<%= paginate @articles %>