<header>
  <nav class="row" id="navbar">
    <div class="column">
      <ul class="navigation">
        <li class="nav-item"><%= link_to "My Digest", mydigest_path %></li>
        <li class="nav-item"><%= link_to "My Stash", stashes_path %></li>
        <li class="nav-item"><%= link_to "Browse Sites", browse_path %></li>
        <li class="nav-item quick-subscribe"><a data-toggle="modal" data-target="#quick-add">Quick Subscribe</a></li>
      </ul>
      <ul class="navigation float-right">
        <li class="nav-item dropdown">
          Hi, <%= link_to(dashboard_path, "data-toggle"=>"dropdown") do %> 
            <%= current_user.name %> <span class="caret">▼</span>
          <% end %>
          <ul class="dropdown-menu">
            <li class="sub-nav"><%= link_to "Dashboard", dashboard_path %></li>
            <li class="sub-nav"><%= link_to "Log Out", logout_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav> 
  <%= render "quick_add" %>
</header>
