<!DOCTYPE html>
<html>
<head>
  <title>The Digest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Home", root_path %>

<% if current_user %>
  <%= current_user.name %>
  <%= link_to "Log Out", logout_path, method: :delete %>
  <%= link_to "Add New Subscription", new_subscription_path %>
  <%= link_to "Your Digest", yourdigest_path %>
<% else %>
  <%= link_to "Log In", login_path %>
  <%= link_to "Sign Up", signup_path %>
<% end %>

<%= yield %>

<% if notice.present? %>
    <p><%= notice %></p>
<% end %>
<% if alert.present? %>
    <p><%= alert %></p>
<% end %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
