<!DOCTYPE html>
<html>

<%= render "layouts/head" %>

<body> 

<%= render "layouts/marketing_nav" %>

<%= render "layouts/flash" %>

<section class="document-body">
  <%= yield %>
</section>

<footer>
  <%= render "layouts/footer" %>
</footer>

</body>
</html>